@font-face {
    font-family: Inter;
    src: url(../Inter-VariableFont_slnt\,wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
    font-family: Inter;
}

h1{
    font-size: 34px;
    line-height: 41px;
    font-family: 700;
}

h3{
    color: #140342;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.italic {
    font-style: italic;
}

.bold{
    font-weight: bold;
}

.main-color {
    color: #0D3356;
}

.flex {
    display: flex;
}

.item-center {
    display: flex;
    align-items: center;
}

.ic-10{
    display: flex;
    align-items: center;
    gap: 10px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav__space-between{
    display: flex;
    justify-content: space-between;
    width: 627px;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 627px; */
}

.text-gray {
    color: #B9BBBF;
}

.text-darkgray{
    color: #667085;
}

.text-main {
    color: #3A4980;
}

.text-darkblue{
    color: #0D3356;
}

.text-purple{
    color: #6440FB;
    text-decoration: underline;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.text-darkpurple{
    color: #1A064F;
}

.text-icon {
    font-weight: 800;
    font-style: italic;
    font-size: 32px;
    line-height: 40px;
    color: #3A4980;
}

.text-title{
    font-style: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #0D3356;
}

.text-sm {
    font-size: 12px;
    line-height: 14px;
}

.text-md{
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.text-md1 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.user-name {
    font-size: 16px;
    font-weight: 600;
    color: #1D364D;
}

.text-large{
    font-size: 18px;
    line-height: 22px;
}

.pt-6{
    padding-top: 6px;
}

.pt-12{
    padding-top: 12px;
}

.pt-15{
    padding-top: 15px;
}

.pt-25{
    padding-top: 25px;
}

.pt-29{
    padding-top: 29px;
}

.pb-15{
    padding-bottom: 15px;
}

.mr-25{
    margin-right: 25px;
}

.btn-1{
    background-color: #3A4980;
    border: 1px solid #3A4980;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 50px;
}

.btn-2 {
    background-color: #FFFFFF;
    border: 1px solid #D0D5DD;
    color: #344054;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 50px;
    filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}

.btn-3{
    color: #726C6C;
    border: 1px solid #E4E4E4;
    padding: 10px 20px;
    border-radius: 30px;
}

.btn-4 {
    color: #1D364D;
    border: 1px solid #E0E0E0;
    padding: 10px 14px;
    border-radius: 28px;
}

.btn-5{
    width: 75px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    color: #1A064F;
    font-size: 14px;
    line-height: 30px;
}

.inp{
    width: 270px;
    outline: none;
    border: none;
}

header {
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    height: 90px;
    border-bottom: 1px solid #ededed;
}

header section {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    /* background-color: aquamarine; */
    padding: 25px 80px;
    /* border-bottom: 1px solid #ededed; */
}

header section div nav {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 40px;
    cursor: pointer;
}

nav span {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1D364D;
}

.icon-bag {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    background-color: #F5F1EE;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.number {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: 2px solid white;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -2px;
    right: -2px;
    font-size: small;
}

.icon-bell {
    width: 50px;
    height: 50px;
    border-radius: 9999px;
    border: 2px solid white;
    background-color: #EEEFF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    position: relative;
}

.notify {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 9999px;
    background-color: red;
    top: 0;
    right: 4px;
    font-size: small;
}

main{
    width: 1280px;
    margin: 49px auto 167px auto;
}

.banner{
    /* width: 100%; */
    max-width: 1440px;
    margin: 0 auto;
    background: rgb(244, 232, 243);
    background: linear-gradient(90deg, rgba(244, 232, 243, 1) 0%, rgba(243, 239, 246, 1) 50%, rgba(238, 224, 249, 1) 100%);
    height: 287px;
}

.banner__container{
    margin: 0 auto 0 auto;
    width: 1280px;
    height: 287px;
    position: relative;
}

.banner__title{
    color: #3A4980;
    position: absolute;
    top: 63px;
    left: 55px;
    font-size: 34px;
    line-height: 42px;
}

.banner__btn{
    position: absolute;
    background-color: #3A4980;
    color: white;
    width: 136px;
    height: 49px;
    border-radius: 29px;
    left: 55px;
    bottom: 49px;
    font-weight: bold;
    border: none;
}

.banner__img{
    position: absolute;
    bottom: 0;
    right: 176px;
}

.title{
    margin: 49px 0 23px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.title__filter{
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title__item{
    width: 1038px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: grid;
    grid-template-areas:
    "filter item1 item2 item3"
    "filter item4 item5 item6"
    "filter item7 item8 item9"
    "filter item10 item11 item12"
    "filter page page page";
    grid-template-columns: 304px repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 20px;
}

.content__filter{
    grid-area: filter;
    width: 304px;
}

.content__filter > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #F3F3F3;
    border-radius: 7px;
    padding: 17px;
}

.content__filter__item{
    border-bottom: 1px solid #DDDDDD;
}

.page{
    grid-area: page;
}

.item1{
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}

.item11 {
    grid-area: item11;
}

.item12 {
    grid-area: item12;
}

.content__item{
    display: flex;
    flex-direction: column;
    border: 2px solid #F7F5F7;
    border-radius: 18px;
}

.content__item__thumnail{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7F5F7;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 30px 36px;
    position: relative;
}

.content__item__thumnail span{
    width: 50;
    height: 50;
    background-color: white;
    padding: 10px;
    border-radius: 9999px;
    position: absolute;
    top: 12px;
    right: 8px;
}

.content__item__info{
    margin: 20px;
}

.pagination{
    margin: 111px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagination span{
    border: 1px solid #F3F3F3;
    padding: 10px 14px;
    border-radius: 4px;
}

.pagination span:nth-child(2) {
    border: 1px solid #F3F3F3;
    padding: 10px 14px;
    border-radius: 4px;
    color: #3A4980;
    font-weight: 500;
    background: rgb(244, 232, 243);
    background: linear-gradient(90deg, rgba(244, 232, 243, 1) 0%, rgba(243, 239, 246, 1) 50%, rgba(238, 224, 249, 1) 100%);
}

footer{
    width: 100%;
    /* max-width: 1440px;
    margin: 0 auto; */
    height: 446px;
    background: rgb(244, 232, 243);
    background: linear-gradient(90deg, rgba(244, 232, 243, 1) 0%, rgba(243, 239, 246, 1) 50%, rgba(238, 224, 249, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 87px;
    line-height: 124px;
    font-weight: 500;
}

input[type="radio"],
input[type="checkbox"],
input[type="range"]{
    accent-color: #1A064F;
}


